<header class="header">
    <div class="header__wrapper">
        <div class="header__logo">
            <img src="img/logo 1.png" alt="Streetster">
        </div>
        <form action="#">
            <div class="header__search">
                <input type="search" name="header__search" id="search">
            </div>
        </form>
        <div class="header__items">
            <div class="header__cart">
                <img src="img/cart.png" alt="Корзина">
            </div>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>